.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    font-size: 10em;
    flex: 0 0 7.6%;

    @media screen and (max-width: 600px) {
        font-size: 4em;
        flex: 0 0 10%;
    }
}

.red {
    color: crimson;
}

.back {
    cursor: pointer;
}