$primary-color: seagreen;

body {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: $primary-color;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    flex: 0 0 14%;
    height: 12em;

    img {
        height: 11em;
        width: 8em;
    }
}

.back {
    cursor: pointer;
}

.controls {
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0.7em 0.5em;
}

.btn {
    color: $primary-color;
    background-color: white;
    border: 2px solid white;
    border-radius: 30px;
    padding: 2px 20px;
    font-family: "Ubuntu", sans-serif;
    font-size: 2em;
    width: 5em; 

    &:focus {
        outline: none;
    }
}

.timer {
    font-size: 2.1em;
    margin-left: 20%;
}
